<div id="slider_wrap" class="clearfix">
	<div id="slider_arrow"></div>
	<div id="years" class="ui-corner-all grid_10">
		<ul>
			<li class="grid_2" id="y2004">2004</li>
			<li class="grid_2" id="y2005">2005</li>
			<li class="grid_2" id="y2006">2006</li>
			<li class="grid_2" id="y2007">2007</li>
			<li class="grid_2" id="y2008">2008</li>
		</ul>
	</div>
</div>
<div id="left_col">
  <% if false # show once we have initial stuff working %>
    <div id="selection" class="grid_2">
      <p>Show by:</p>
      <a class="show_eth" href="#">Ethnicity</a>
      <a class="show_sex" href="#">Sex</a>
    </div>
  <% end %>

  <div id="legend_ethnicity" class="grid_2" >

    <ul>
      <li>NZ European
      <div class="legend">
        <div id="nzeuro"></div>
      </div>
      </li>
      <li>Maori
      <div class="legend">
        <div id="maori"></div>
      </div>
      </li>
      <li>Pasifika
      <div class="legend">
        <div id="pasifika"></div>
      </div>
      </li>
      <li>Asian
      <div class="legend">
        <div id="asian"></div>
      </div>
      </li>
      <li>MEELA
      <div class="legend">
        <div id="meela"></div>
      </div>
      </li>
      <li>other
      <div class="legend">
        <div id="other"></div>
      </div>
      </li>
    </ul>

  </div>


  <div id="legend_sex" class="grid_2">
    <ul>
      <li>Male
      <div class="legend">
        <div id="male"></div>
      </div>
      </li>
      <li>Female
      <div class="legend">
        <div id="female"></div>
      </div>
      </li>
    </ul>
  </div>	

</div>

<canvas id="world" width="800" height="560">
You need canvas
</canvas>
