html { height: 100%; }
body { color: #333; font-size: 90%; line-height: 1.5em; height: 100%; }
body, p, ol, ul, td { font-family: arial, helvetica, sans-serif; }
h1, h2, h3, p { margin-bottom: 20px; }
h1 { font-size: 1.6em; margin-bottom: 20px; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }

#wrap { min-height: 100%; height: auto!important; height: 100%; margin: 0 auto -23px; } /* sticky footer */


#slider .ui-corner-all { -moz-border-radius: 0px; }
#slider .ui-state-default, #slider  #slider .ui-widget-content .ui-state-default, #slider  .ui-widget-header .ui-state-default {
background:url("/images/arrow.png") no-repeat; border:none; width: 22px; height: 11px; cursor: pointer; }
#slider .ui-slider-handle { top:-0.9em; }
#slider.ui-widget-content { background:none; border:none; color:#333333; }
#slider.ui-slider-horizontal { height:1.5em; width:78%; margin: 0px auto; }

#years { text-align: center; background:url("/images/slider_bg.png") repeat-x scroll 0 0 transparent; height: 1.5em; font-size:1.1em; position: relative;
top: -24px; }
#years li {text-indent:0;position:relative; color:#333;}
#years li:hover { color: #999; }

#legend { width: 100px; }
#legend li { margin-bottom: 10px; font-size: 12px; }
.legend { width: 100px;  height: 20px;
	background-color: #eee;
	background: -webkit-gradient(
	    		linear,
	    		right top,
	    		left bottom,
	    		color-stop(0.11, rgb(242,242,242)),
				color-stop(1, rgb(230,230,230))
				);
 	background: -moz-linear-gradient(
				 right top,
				 rgb(242,242,242) 11%,
				 rgb(230,230,230) 100%
				);
 }
#slider_arrow {width:2px;position:absolute;top:20px;height:30px;background:black;-webkit-transition: left 1s ease-in;-moz-transition:left 1s ease-in;-o-transition:left 1s ease-in;}
@-webkit-keyframes resize {
	0% {
		padding: 0;
	}
	50% {
		padding: 0 20px;	
	}
	100% {
		padding: 0 100px;
	}
}


/*.legend div { -webkit-animation-name: resize;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 4;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out; 
	} */
#male {background:#29E2D8;}
#female {background:#0EDB3E;}
#nzeuro 	{ width: 16.667%; background: #29E2D8; height: 20px; }
#maori 		{ width: 16.667%; background: #0EDB3E; height: 20px; }
#pasifika 	{ width: 16.667%; background: #E0E836; height: 20px; }
#asian 		{ width: 16.667%; background: #E02B8A; height: 20px; }
#meela 		{ width: 16.667%; background: #EFA91D; height: 20px; }
#other 		{ width: 16.667%; background: #3CC1EF; height: 20px; }


footer { display: block; height: 23px; margin-top: -23px; background: #eee; color: #9f9f9f; font-size: .8em; text-align: center; }