<h1>About this project</h1>

<h2>Who?</h2>
This visualisation focuses on those who attended secondary school in New Zealand between the years of 2003 and 2008.


<h2>What?</h2>
This visualisation ...

<h2>When?</h2>
The data provided by Ministry of Education ranges from the years 1998 to 2008. We chose to follow the group of students who would have started in 2003 and finished in 2008 , which would be the full course of study, to gain insight into those who leave along the way, and when they leave.

<h2>Where?</h2>
This data was found ....

<h2>Why?</h2>
We found the data really interesting.... we wanted to make a visualization to do with education and something that follows the education process and is not just a snap shot of data. We liked this data because there was a lot of years available and goes through to university level, which we will be including when we continue to develop this to show where these school leavers go and what they end up doing.

<h2>How?</h2>
Data was found on the <a href="http://www.educationcounts.govt.nz">Education Counts</a> website, provided by the Ministry of Education.
We used HTML5, canvas, javascript and Rails to put this all together. Visit Breccan's blog ore a write up about the code.

<h1>About Us</h2>

<h2>Who?</h2>
Breccan McLeod-Lundy - ideas, rails data stuff ??
Kelly Cheesman - ideas, design, html
Daniel Sherson - javascript
Harry Silver - ideas
Will Marshall - ideas

<h2>What?</h2>
Built for Mix &amp; Mash - The great New Zealand remix &amp; mashup competition, 2010
An awesome idea that we were keen to be part of, remixing open NZ data and content. etc etc...

<h2>When?</h2>
November 2010, the first Mix and Mash.

<h2>Where?</h2>
Planning sessions and data downloading mostly happened at Southern Cross, yay for wi-fi.

<h2>Why?</h2>
Because we want to learn about canvas, html5 and do something creative.
