<section id="about_project">
	
	<h1>About this project</h1>
	
	<hr/>
	
	<h2>Who?</h2>
	<p>This visualisation follows the group of students who began year 9 in 2003.</p>

	<h2>What?</h2>
	<p>Each year up to 10,000 young people in New Zealand leave school with little or no formal qualifications...this visualisation tracks the group of students who would have started in 2004 and finished in 2008 to gain insight into those who leave along the way and when they leave.

	<h2>When?</h2>
	<p>The data provided by Ministry of Education ranges from the years 1998 to 2008. We chose to follow the group of students who would have started in 2004 and finished in 2008.

	<h2>Where?</h2>
	<p>New Zealand</p>

	<h2>Why?</h2>
	<p>We found the data really interesting....we wanted to make a visualization to do with education and something that follows the education process and is not just a snap shot of data. We liked this data because there was a lot of years available and goes through to university level, which we will be including when we continue to develop this to show where these school leavers go and what they end up doing.</p>

	<h2>How?</h2>
	<p>Data was found on the <a href="http://www.educationcounts.govt.nz">Education Counts</a> website, provided by the Ministry of Education.<br/>
	We used HTML5, canvas, javascript and Rails3 to put this all together.</p>
	
</section>


<section id="about_us">
	<h1>About Us</h1>
	
	<hr/>
	
	<h2>Who?</h2>
	<h3>Dev team</h3>
	<ul class="list">
		<li><a href="http://www.breccan.com">Breccan McLeod-Lundy</a></li>
		<li><a href="http://www.kellective.net">Kelly Cheesman</a></li>
		<li>Daniel Sherson</li>
	</ul>

	<h3>Idea/support crew</h3>
	<ul class="list">
		<li>Harry Silver</li>
		<li>Will Marshall</li>
	</ul>

	<h2>Why?</h2>
	<p>Because we want to learn about canvas, html5 and do something creative. We support open data and open source projects.</p>
</section>
