<section id="about_project">
	
	<h1>More details</h1>	
	<hr/>
	
	<h2>Open data</h2>
	<ul class="list">
		<li><a href="http://www.educationcounts.govt.nz/statistics/schooling/school_leavers2/school_leavers">School Leavers 1998-2008</a></li>
		<li><a href="http://www.nzqa.govt.nz/qualifications/ssq/statistics/statsreports.do">Secondary school statistics</a></li>
	</ul>

	<h2>Publications</h2>
	<h3>Education Counts</h3>
	<ul class="list">
		<li><a href="http://www.educationcounts.govt.nz/publications/tertiary_education/72404/1">School leavers’ progression to bachelors-level study</a></li>
		<li><a href="http://www.educationcounts.govt.nz/publications/schooling/15997">Tertiary education choices of school leavers</a></li>
		<li><a href="http://www.educationcounts.govt.nz/publications/schooling/24136">"Staying at School Consultation Report</a></li>
	</ul>
	<h3>Statistics New Zealand</h3>
	<ul class="list">
		<li><a href="http://www.stats.govt.nz/browse_for_stats/education_and_training/secondary_education/school-leavers-with-no-qualifications.aspx">School Leavers With No Qualifications</a></li>
	</ul>