<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Roll Call NZ</title>
	<!--[if IE]>
	    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <%= stylesheet_link_tag    'reset', 
                             '/javascripts/css/ui-lightness/jquery-ui-1.8.6.custom.css', 
                             'styles', 
                             '960' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 
                             'jquery-ui-1.8.6.custom.min', 
                             'utility',
                             'cufon', 
                             'Museo_Sans_500_400.font',
                             'jquery.easing.1.3', 
                             'jquery.enumerable', 
                             'application', 
                             'blobby'
                              %>
	<script type="text/javascript">
		Cufon.replace('h1');
		Cufon.replace('#legend li');
		Cufon.replace('#years li', {hover: true}) ;
	</script>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrap">
		<div class="container_10">
			<header id="header"> <!-- HTML5 header tag -->
				<a href="/"><img src="/images/rollcallNZ.gif" alt="Roll Call NZ"/></a>
		    <h1 class="intro">Who is leaving, who is staying?</h1>
			
				<nav id="nav">
					<ul>
						<li><a href="/about"><img src="/images/about.gif" alt="About"/></a></li>
						<li><a href="/more"><img src="/images/more.gif" alt="More"/></a></li>
					</ul>
				</nav>
			</header>
    <div id="content" class="clearfix">
			<%= yield %>
			</div>
		</div>
	</div>
	<footer id="footer">Built for Mix &amp; Mash - The great New Zealand remix &amp; mashup competition, 2010</footer>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19946324-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>